.profileInfo {
    height: calc(100vh - 40px - 1.6rem);
    background-color: #1a1c25;
    text-align: center;
}

.profileImg {
    margin: 10px;

    border: 3px solid white;
    border-radius: 200px;
}

.profileHyperLink {
    text-decoration: none;
    
    border: 1px white;
    border-bottom-style: dashed;
}

.profileHyperLink:link{
    color: #9daeff;
}

.profileHyperLink:visited{
    color: #9daeff;
}

.profileLinks {
    margin: 1rem;
}

.profileText {
    color: white;
    margin: 0px;
}