.profileInfo {
    height: calc(100vh - 40px - 1.6rem);
    background-color: #1a1c25;
    text-align: center;
}

.profileImg {
    margin: 10px;

    border: 3px solid white;
    border-radius: 200px;
}

.profileText {
    color: white;
    margin: 0px;
}

.buttonLink {
    margin: 0.5rem;
    padding: 0.5rem;
    
    border-radius: 8px;

    color: white;
    background-color: #5d68a0;

    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.buttonLink:hover {
    cursor: pointer;
    background-color: #3e456b;
}