.addPostPage {
    align-items: center;
    background-color: #1a1c25;
    display:flex;
    height: calc(100vh - 40px - 1.6rem);
}

.aligner{
    width: 100%;
}

.titleInput, .bodyInput, .submit {
    font-family: "Open Sans", sans-serif;
}

.titleInput {
    margin: 1rem;
    width: 80%;
    height: 2rem;

    display: block;
    margin: 50px auto;

    background-color: white;
    color: black;
}

.bodyInput{
    resize: none;

    margin: 1rem;
    width: 80%;
    height: 10rem;

    display: block;
    margin: 50px auto;

    background-color: white;
    color: black;
}
.bodyInput:focus-visible{
    outline: none;
}

.submit {
    margin: 1rem;
    width: 100px;

    display: block;
    margin: auto;

    background-color: blue;
    color: white;
}
.submit:active {
    filter: brightness(0.85);
}