.home {
    background-color: #ffffff;
    display: flex;
    flex-flow: column;
    height: 100%;
    height: calc(100vh - 40px - 1.6rem);
    background-size:contain;
}

.mainContent{
    justify-content: center;
    background-color: #1a1c25;
    padding-top: 2rem;
    width: 70vw;
    height: calc(100vh - 3.6rem - 40px);
    overflow-y: scroll;
}

.hiderDiv{
    margin: 0 auto 0 auto;
    overflow: hidden;
    width: 760px;
}