.home {
    background-image: url("https://wallpapercave.com/wp/wp9333941.jpg");
    display: flex;
    flex-flow: column;
    height: 100%;
    min-height: 90vh;
    background-size:contain;
    background-color: rgb(186, 186, 186);
    background-blend-mode:lighten;
}