.home {
    background-color: #1a1c25;
    
    display: flex;
    flex-flow: column;
    
    height: calc(100vh - 40px - 1.6rem);
}

.mainContent{
    background-color: #1a1c25;
    
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    
    width: 70vw;
}

.hiderDiv{
    margin: 0 auto;
}