.title, .date {
    text-align: center;
}

.post {
    font-family: "Open Sans", sans-serif;

    color: white;
    background-color: #1a1c25;

    margin: 3%;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0rem;


    border-radius: 8px;

    white-space: pre-line;
}

.postDivider {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 2rem;

    padding-bottom: 3rem;

    color: gray;
}

.sectionBreakLine {
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 2%;
    margin-bottom: 3%;

    border-bottom: 0.1rem solid white;
}

.desc {
    padding: 0rem 1.5rem;
}

.userName, .userImg {
    height: 2rem;
    vertical-align: middle;
}

.userName {
    display: inline;
}

.userImg {
    padding-left: 1.5rem;
    padding-right: 0.5rem;
}