.post,
.text,
.date {
    font-family: "Open Sans", sans-serif;
}

.post {
    color: black;
    margin: 3%;
    padding: 0.5rem;
    background-color: white;
    border-radius: 8px;
    white-space: pre-line;
    border-color: black;
    border: 0.1rem;
    border-style: solid;
}

.text {
    margin: 0%;
    font-weight: bolder;
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
    white-space: pre-wrap;
}

.title, .date {
    display: inline-block;
}

.date{
    float: right;
}

.sect {
    width: 100%;

    /* background-color: aliceblue;
    border-color: black;
    border: 0.1rem;
    border-style: solid; */
}