.post,
.text,
.date {
    font-family: "Open Sans", sans-serif;
}

.post {
    color: black;
    margin: 3%;
    padding: 0.5rem;
    background-color: white;
    border-radius: 8px;
    white-space: pre-line;
}

.text {
    margin: 0%;
    font-weight: bolder;
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
    white-space: pre-wrap;
}

.title, .date {
    text-align: center;
}

.sectionBreak{
    margin:  2% 2rem 3% 2rem;
    border-bottom: 0.1rem solid black;
}

.signatureTitle, .signatureBody, .desc {
    padding: 0rem 1.5rem;
}