.intro {
    font-family: "Open Sans", sans-serif;
    color: white;
    margin: 3%;
}

.title {
    background-color: #1a1c25;
    font-size: 3rem;
    padding: 0.7rem;
    text-align: center;
}

.body {
    margin-top: 0%;
    padding: 1.5rem 0.5rem 1.5rem 1rem;
    background-color: #1a1c25;
    white-space: pre-line;
    border: 0.1rem;
    border-top-style: solid;
    border-bottom-style: solid;
}

.text {
    margin: 0%;
    font-weight: bolder;
    font-family: "Open Sans", sans-serif;
    white-space: pre-wrap;
}