.menuButton{
    background-color: none;
    color: white;
    padding: 10px;
    border-radius: 4px;
    display: block;
    position: absolute;
    top: -2.5%;
    right: 2%;
    transform: translate(0, 60%);
    font-size: 1.7rem;
}

.menuButton:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: rgb(39, 39, 39);
}

.itemHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 4px;
    background-color: #424552;
    position: absolute;
    top: 45px;
    width: 300px;
    right: 2%;
}