.navBar {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.homeNav {
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    background-color: none;
    color: white;
    margin: 15px;
    padding: 10px;
    border-radius: 4px;
}

.homeIcon{
    color: white;
    font-size: 1.3rem;
    transform: translate(0, 23%);
    margin-right: .3rem;
}

.menuItem {
    all: initial;
    width: 260px;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    background-color: black;
    color: white;
    margin: 15px;
    padding: 10px;
    border-radius: 4px;
}

.menuItem:hover{
    cursor: pointer;
}

.menuLoginButton{
    background-color: #1a2458;
}

.navItem {
    all: initial;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    background-color: #111;
    color: white;
    margin: 0;
    padding: 3rem;
}

.navItem:hover {
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: #272727;
}

.navItem:active {
    border-radius: 2px;
    border-color: black;
}

.navLoginButton{
    border: none;
}

.mobileMenuButton {
    display: none;
    color: white;
}

.mobileMenuButton:hover {
    transition: all 0.3s ease;
    background-color: rgb(39, 39, 39);
}

.logo {
    color: white;
    display: block;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(0, 60%);
    font-size: 1.8rem;
}

@media only screen and (min-width: 764px) and (max-width: 1250px) {
    .logo {
        display: none;
    }
}

@media only screen and (max-width: 764px) {
    .mobileMenuButton {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 23%);
        font-size: 1.8rem;
        cursor: pointer;
        padding: 7px;
        border-radius: 4px;
    }
    .navList {
        display: none;
    }
}