.navBar {
    background-color: lightblue;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.navItem {
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;

    background-color: green;
    color: white;
    margin: 10px;
    padding: 10px;
}

.navItem:hover {
    background-color: darkgreen;
}

.navItem:active {
    border-radius: 2px;
    border-color:black;
}