.navBar {
    background-color: black;

    padding: 20px;

    display: flex;
}

.homeNavButton {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    text-decoration: none;

    color: white;
    background-color: none;

    margin: 15px;
    padding: 10px;
    border-radius: 4px;
}

.homeNavButton:hover {
    background-color: #222;
}

.homeIcon {
    color: white;
    font-size: 1.3rem;

    transform: translate(0, 23%);
    margin-right: .3rem;
}

.menuItem {
    all: initial;

    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    text-decoration: none;

    width: 260px;

    color: white;
    background-color: black;

    margin: 15px;
    padding: 10px;
    border-radius: 4px;

    cursor: pointer;
}

.menuItem:hover {
    transition: all 0.1s ease;
    background-color: #222;
}

.menuItemLoginButton {
    background-color: #1a2458;
}

.menuItemLoginButton:hover {
    background-color: #131a3e;
}

.mobileMenuItem {
    all: initial;

    font-family: "Open Sans", sans-serif;
    font-weight: 800;

    text-align: center;

    color: white;
    background-color: #111;

    margin: 0;
    padding: 3rem;

    cursor: pointer;
}

.mobileMenuItem:hover {
    transition: all 0.3s ease;
    background-color: #272727;
}

.mobileMenuItem:active {
    border-radius: 2px;
    border-color: black;
}

.mobileMenuItemLoginButton {
    background-color: #1a2458;
}

.mobileMenuItemLoginButton:hover {
    background-color: #1a2458;
    filter: brightness(1.25);
}

.mobileMenuButton {
    display: none;
    color: white;
}

.mobileMenuButton:hover {
    transition: all 0.3s ease;
    background-color: rgb(39, 39, 39);
}

.logo {
    color: white;
    font-size: 1.8rem;

    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, 60%);
}

@media only screen and (max-width: 764px) {
    .mobileMenuButton {
        display: block;

        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 23%);
        
        font-size: 1.8rem;
        
        cursor: pointer;
        
        padding: 7px;
        border-radius: 4px;
    }

    .menu {
        display: none;
    }
}